DB_HOST=example
DB_USER=example
DB_PASSWORD=example
DB_NAME=example
PORT=example
#JWT Secret
JWT_SECRET=example
#Email Configuration
SMTP_HOST=smtp.example.com
SMTP_USER=mail@example.com
SMTP_PASSWORD=yourpassword
#Frontend URL
FRONTEND_URL=http://example.com